@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.new-item {
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    background-color: #00AEEF;
  }

  100% {
    background-color: #ffffff;  
  }
}